* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #eaeaea;
}

.container {
    width: 90%;
    height: 400px;
    margin: 0 5% ;
    margin-top: 100px;
    background-color: #FFFFFF;
    box-shadow: -10px 5px 5px grey;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

body input {
    width: 300px;
    height: 20px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    margin-top: 30px ;
    text-transform: lowercase;
    border: 2px solid blue;
}


body button {
    width: 300px;
    padding: 10px;
    color: white;
    background-color: blue;
    border: none;
    box-shadow: 4px 4px 4px grey;
    border-radius: 10px;
}

body button:hover {
    background-color: #eaeaea;
    color: blue;
    border: 2px solid blue;
}